# Analysis

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("darkgrid")

In [2]:
df = pd.read_csv('kc_house_data_clean.csv')
df.head()

,Unnamed: 0,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,zipcode,lat,long,sqft_living15,sqft_lot15,year,month,day,month_year,location
0,0,7.129301e+09,10/13/2014,221900.0,3.0,1.00,1180.0,5650.0,1.0,0.0,...,98178,47.5112,-122.257,1340.0,5650.0,2014.0,10.0,13.0,13-2014,"(47.5112, -122.257)"
1,1,6.414100e+09,12/9/2014,538000.0,3.0,2.25,2570.0,7242.0,2.0,0.0,...,98125,47.7210,-122.319,1690.0,7639.0,2014.0,12.0,9.0,9-2014,"(47.721000000000004, -122.319)"
2,2,5.631500e+09,2/25/2015,180000.0,2.0,1.00,770.0,10000.0,1.0,0.0,...,98028,47.7379,-122.233,2720.0,8062.0,2015.0,2.0,25.0,25-2015,"(47.7379, -122.23299999999999)"
3,3,2.487201e+09,12/9/2014,604000.0,4.0,3.00,1960.0,5000.0,1.0,0.0,...,98136,47.5208,-122.393,1360.0,5000.0,2014.0,12.0,9.0,9-2014,"(47.5208, -122.39299999999999)"
4,4,1.954401e+09,2/18/2015,510000.0,3.0,2.00,1680.0,8080.0,1.0,0.0,...,98074,47.6168,-122.045,1800.0,7503.0,2015.0,2.0,18.0,18-2015,"(47.6168, -122.045)"